---
layout: default
permalink: /category/
---

{% comment%}
Here we generate all the categorys.
{% endcomment%}

{% assign rawcategorys = "" %}
{% for post in site.posts %}
{% assign categorys = post.category | append:'|' %}
{% assign rawcategorys = rawcategorys | append:categorys %}
{% endfor %}

{% assign rawcategorys = rawcategorys | split:'|' | sort %}
{% assign categorys = "" %}

{% for category in rawcategorys %}
{% if category != "" %}

{% if categorys == "" %}
{% assign categorys = category | split:'|' %}
{% endif %}

{% unless categorys contains category %}
{% assign categorys = categorys | join:'|' | append:'|' | append:category | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}
{% for category in categorys %}
<a class="label label-success" href="#{{ category | slugify }}" > {{ category }} </a> &nbsp;
{% endfor %}

{% for category in categorys %}
<h4 id="{{ category | slugify }}">{{ category }}</h4>
<ul>
  {% for post in site.posts %}
  {% if post.category contains category %}
  <li>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
<br/>
